.digitron {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    width: 280px;
    margin: 0 auto;
    text-align: center;
}

.digitron p {
    font-size: 24px;
    margin-top: 0;
}

.digitron input[type=textfield] {
    background-color: #666;
    border: none;
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
}

.digitron input[type=button] {
    background-color: #999;
    border: none;
    color: #fff;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
}

.digitron input[type=button]:hover {
    background-color: #777;
}
