/* General Styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
  color: #333;
}

ul {
  list-style: none;
}

/* Header Styles */

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
}

nav li {
  margin: 0 20px;
}

nav a {
  font-size: 18px;
}

nav a:hover {
  color: #ccc;
}

/* Main Styles */

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 60px);
}

section {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 50%;
}

section h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 10px;
  font-size: 20px;
}

input, textarea {
  font-size: 18px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-bottom: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

textarea {
  height: 150px;
}

button[type="submit"] {
  background-color: #333;
  color: #fff;
  font-size: 20px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type
