body {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', sans-serif;
  background-color: #f7cacc;
}

header {
  background-color: #f15b7c;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

nav li {
  margin-right: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

nav a:hover {
  transform: scale(1.1);
}

main {
  display: flex;
}

aside {
  background-color: #f691a3;
  color: #fff;
  padding: 20px;
  min-width: 200px;
}

aside ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

aside li {
  margin-bottom: 10px;
}

aside a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  transition: all 0.3s ease-in-out;
}

aside a:hover {
  transform: scale(1.1);
}

section {
  background-color: #fff;
  padding: 20px;
  flex-grow: 1;
}

h1 {
  font-size: 48px;
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
}

p {
  font-size: 24px;
  line-height: 1.5;
  text-align: center;
}
