body {
	margin: 0;
	padding: 0;
	background-color: #15202b;
}

.container {
	width: 400px;
	margin: 150px auto;
	background-color: #fff;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

h1 {
	text-align: center;
	color: #17a2b8;
}

form {
	margin-top: 50px;
}

.form-input {
	margin-bottom: 15px;
}

input[type="text"], input[type="password"], input[type="submit"] {
	width: 100%;
	padding: 10px;
	border: none;
	border-radius: 5px;
}

input[type="submit"] {
	background-color: #17a2b8;
	color: #fff;
	cursor: pointer;
}

a {
	color: #17a2b8;
	text-decoration: none;
}
