h1 {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  text-align: center;
  color: black;
}

canvas {
 display: block;
 margin-left: auto;
 margin-right: auto;
}

body {
  background-color: white;
}